.formbox
          {
            box-shadow: 1px 3px 9px  rgba(17, 206, 227, 0.847);
            margin: auto;
            width: 100%;
            text-align: center;
            font-family: arial;
            border-radius: 25px;
          }