

<div class="container  " >
    <div class="row text-center me-5 ">

      
        <div class="col-xl-3 col-sm-6 mb-5  "   *ngFor="let prescription of  doc">
            <div class="bg-white  py-5 px-4  formbox ">
                <!-- <img src={{prescription.patient_id.img}} alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"> -->
                <h5 class="mb-0">{{prescription.firstName}} {{prescription.lastName}} {{prescription._id}}</h5><span class="small text-uppercase text-muted">{{prescription.age}} years</span>
                <ul class="social mb-0 list-inline mt-3">
                    <button class="btn btn-outline-success mx-3" [routerLink]="['historyInfo',prescription._id]"  (click)="save(prescription)"> MH</button>
                    <!-- <button class="btn btn-outline-success" [routerLink]="['prescrptionadd',prescription._id]"  (click)="save(prescription)">Prescription</button> -->
                    <button class="btn btn-outline-success" [routerLink]="['prescrptionUpdate',prescription._id]"  (click)="save(prescription)">Prescription</button>
                    <router-outlet></router-outlet>
                </ul>
              
            </div>
        </div>

    </div>
</div>



