<div class="topnav shadow p-1">
    <app-header> </app-header>
</div>
  <!-- left sidebar nav  -->
  
  <div  class="sidebar shadow p-2"  id="sidebar"  [ngStyle]="responsiveMenu">
    <ul>
        <li><a  routerLink="maincontent"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
        <li><a  routerLink="docprofile"><i class="bi bi-card-text"></i> Profile</a></li>
        
        <li>
            <a routerLink="listemployees"><i class="bi bi-tag"></i> Staff <i class="bi bi-arrow-right icon"></i></a>
            <ul class="dropdow-container">
                <li><a routerLink="addemployees">Add Employee</a></li>
                <li><a routerLink="updateemployees">Update Employee</a></li>
            </ul>
        </li>
        <li>
            <a ><i  routerLink="gitdoctors"></i> Doctors <i class="bi bi-arrow-right icon"></i></a>
             <ul class="dropdow-container">
                <li><a routerLink="adddoctor">Add Doctor</a></li>
                <li><a routerLink="gitdoctors">Link2</a></li>
            </ul> 
        </li>
        <li>
            <a ><i class="bi bi-bag"></i> Department <i class="bi bi-arrow-right icon"></i></a>
             <ul class="dropdow-container">
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
            </ul> 
        </li>
        <li>
            <a ><i class="bi bi-bag"></i> Services <i class="bi bi-arrow-right icon"></i></a>
             <ul class="dropdow-container">
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
            </ul> 
        </li>
        <li><a routerLink="addDoctor"><i class="bi bi-person-gear"></i> Doctor List</a></li>
        <li><a routerLink="#"><i class="bi bi-person-gear"></i> invoice List</a></li>
        <li><a routerLink="#"><i class="bi bi-person-gear"></i> patient List</a></li>
        <li><a routerLink="/users"><i class="bi bi-person-gear"></i> User</a></li>
        <li><a href="#"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
  
    </ul>
  </div>
  <!-- left sidebar nav  -->
  
  
  <!-- main content  -->
  
  <div class="main-content" [ngStyle]="responsiveContent">
    <router-outlet></router-outlet>
  </div>
  
  <!-- main content  -->
