<table class="table table-striped">
    <thead class="text-primary">
      <tr  class="text-info">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">user_name</th>
        <th scope="col">User Role</th>
        <th scope="col">phone</th>
        <th scope="col">Email</th>
        <th scope="col">salary</th>
        <th scope="col">Gender</th>
        <th scope="col">Workhours</th>
        <th scope="col">Age</th>
        <th scope="col">Image</th>
        <th scope="col"> Delete</th>
        <th scope="col">update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let item of emps">
        <td>{{item._id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.user_name}}</td>
        <td>{{item.user_role}}</td>
        <td>{{item.phoneno}}</td>
        <td>{{item.email}}</td>
        <td>{{item.salary}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.workHours}}</td>
        <td>{{item.age}}</td>
        <td><img src={{item.employeeImage}} alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></td>
        <td>
          <button class="btn btn-outline-danger" (click)="delete(item._id)" ><i class="fa fa-trash-o"></i></button>
       </td>
       <td>
        <button class="btn btn-outline-danger" (click)="thedite(item)" ><i class="fa fa-edit"></i></button>
     </td>
      </tr>
    </tbody>
  </table>

