
<div class="bx bx-danger">

  <label style="color: teal;font-weight: 500;"
  for="firstname" >Id</label> &nbsp;<input type="text" [(ngModel)]="Insu._id" >
  <label style="color: teal;font-weight: 500;"
  for="firstname" >companyName</label> &nbsp;<input type="text" [(ngModel)]="Insu.companyName" >

  <label style="color: teal;font-weight: 500;"
  for="firstname" >MemberPermium</label> &nbsp;<input type="text" [(ngModel)]="Insu.remainingamount" >
  <label style="color: teal;font-weight: 500;"
  for="firstname" >phoneNumber</label> &nbsp;<input type="text" [(ngModel)]="Insu.phoneNumber">

  </div>

  <br> <br>
  <button  class="btn btn-info"    (click)="save()"> save</button>
