
<div class="container py-5">
    <div class="row text-center text-white">
       
    </div>
  </div>
  
  
  <div class="container  "  style="margin-left: 230px;">
    <div class="row text-center me-5 ">
  
        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5 "  *ngFor="let prescription of  prescriptionList">
          
            <div class="bg-white  py-5 px-4    ml-9 formbox  ">
              <h3>
                {{prescription.clinic_id.clinicName}}
             </h3>
            <h4>EYE SECTION</h4>
              <h5  >
               
                <span style="font-family: Georgia, 'Times New Roman', Times, serif;font-style: oblique ;font-weight: bold;">Patient Name:-</span>{{prescription.patient_id.firstName}}
                {{prescription.patient_id.lastName}}
            </h5> 
            <h5 class="title"><span style="font-family: Georgia, 'Times New Roman', Times, serif;font-style: oblique ;font-weight: bold;"> Dosage:-</span>{{prescription.dosage}}</h5>
            <h5 class="title"><span style="font-family: Georgia, 'Times New Roman',
             Times, serif;font-style: oblique ;font-weight: bold;">
              creationDate:-</span>{{prescription.creationDate}}</h5>
              <div >
            
            <a [routerLink]="['/prescrptiondetails',prescription._id]"  style="margin: 2%; height: 100%; width: 30%;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
           
          </div>
  
          
            <!-- <p class="title">{{prescription.dept_id}}</p> -->
  
    </div>
  </div>