
<table class="table table-hover ">
    <thead class="text-info ">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let n of doc  let i='index'">
      
        <th scope="row">{{i}}</th>
        <td>{{n._id}}</td>
        <td>{{n.fullName}}</td>
        <td>{{n.email}}</td>
        <td><button (click)="delete(n._id)" type="button" class="btn btn-outline-danger"><i class="fa fa-trash-o"></i></button></td>
        <td><button  routerLink="gitdoctors" (click)="thedite(n)" type="button" class="btn btn-outline-info"><i class="fa fa-edit"></i></button></td>
        
        <!-- <td><button  (click)="Show()" type="button" class="btn btn-outline-info"><i class="fa fa-edit"></i>ssss</button></td> -->
      </tr>
    </tbody>
  </table>
 
 
 <!-- main content  -->
 
 <!-- <div class="child_div" *ngIf="flag">
    <div class="alert alert-danger text-light">
      <div >
       <label> ID</label> 
      <input type="text" title="ID" [(ngModel)]= "currentDoc._id">
       <label > Age</label> 
      <input type="text" title="ID" [(ngModel)]= "currentDoc.userName">
      <label > Name</label> 
       <input type="text" title="name" [(ngModel)]= "currentDoc.fullName"><br>
       <button class="bg-dark text-light mx-3 rounded" (click)="update(currentDoc)" >SAVE Changes</button>
      </div>
  </div>
  </div> -->
  
  
  
   <!-- main content  -->